[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

asgi-redis = "*"
"boto3" = "*"
django = "*"
django-storages = "*"
channels = "*"
pillow = "*"
"psycopg2" = "*"
requests = "*"
whitenoise = "*"
dj-database-url = "*"
python-decouple = "*"
twisted = {extras = ["tls", "http2"]}


[dev-packages]

