{% extends "base-auth.html" %}
{% comment %}
    User password reset completion page.
    Modified from Django default template: django-master\django\contrib\admin\templates\registration
{% endcomment %}

{% block page_description %}Password reset complete page{% endblock %}

{% block page_title %}Password Reset Completed | Grumblr Authentication Center{% endblock %}

{% block content %}
<p>Your password has been reset.  You may go ahead and log in now.</p>
<a href="{% url 'login' %}">Log in</a>
{% endblock %}
